*env
/qBittorrentvpn/qBittorrent
/qBittorrentvpn/openvpn/*ovpn
/qBittorrentvpn/openvpn/credentials.conf
/plex
/config
/jellyfin
/pjellyfin
/media
/filebrowser/filebrowser.db
/speedtest-tracker
/bazarr
/prowlarr
/radarr
/sonarr
/books
/calibre
/registry_data
/caddy_data
/caddy_config
/heimdall_config
/portainer_data
/homepage_config
