cloud.mkoe.io {
	reverse_proxy server.local:8081
	tls mail@mkoe.io
}

http://server.local:10000 {
	root * /var/www/html
	file_server
}
asl.mkoe.io {
	reverse_proxy server.local:9090
	tls mail@mkoe.io
}

