PUID=1000
PGID=1000
TZ=Europe/Stockholm
APP_KEY=
APP_URL=http://server.local:8082
DB_CONNECTION=sqlite
SPEEDTEST_SCHEDULE=0 */6 * * *
SPEEDTEST_SERVERS=35925,6062
DB_HOST= #optional
DB_PORT= #optional
DB_DATABASE= #optional
DB_USERNAME= #optional
DB_PASSWORD= #optional
DISPLAY_TIMEZONE=Etc/UTC #optional
PRUNE_RESULTS_OLDER_THAN=0 #optional

